fastapi==0.100.0
uvicorn==0.23.1
SQLAlchemy==1.4.45
pydantic[email]
envparse==0.2.0
psycopg2-binary==2.9.5
asyncpg==0.27.0
alembic==1.9.0
pytest==7.2.0
pytest-asyncio==0.20.3
httpx==0.23.3
pre-commit==2.21.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.5
bcrypt==4.0.1
greenlet==2.0.2
starlette==0.27.0
pydantic==1.10.7
python-dateutil==2.8.2
sib_api_v3_sdk==7.6.0
jinja2==3.1.2
urllib3==1.26.6