{% extends "templateBaseMini.html" %}
{% block link %}   <link rel="stylesheet" href="{{ url_for('static', path='/css/change_user.css') }}">  {% endblock %}
<!--- Количество уведомлений --->
{% block countNot %} {% if dictStatus['notification'] %}  {{ dictStatus['notification']|length }} {% else %} 0 {% endif %} {% endblock %}


{% block content %}
<!-- Start data -->

<div class="container mt-5 mb-5 border" style="width: 85%; background-color: rgb(232,232,232);border-radius: 10px; margin: 0 auto;">
    <div class="header pl-5 pr-5 pt-5" style="color:black;text-align: center;">
        <h5> ДОБАВИТЬ РОЛЬ В ФИЛЬМЕ </h5>
    </div>
    <div class="row w-100" style="color:black; margin: 0 auto;">
        <div class="contant w-100" style="margin: 0 auto;">
            <div class="col pt-3">
                <h5>Введите ссылку на фильм</h5>
                <input type="url" id="url" name="url" style="width: 100%;border-radius: 10px;background-color: rgb(217,217,217);">
                <div class="" style="font-size: 18px;color: gray">
                  На платформе donatteatr
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col pt-3" style="margin: 0 auto;text-align: center;">
              <button onclick="check()"  id="check" style="margin: 0 auto; background-color: rgb(3,13,40);color:white;font-size: 20px;padding: 15px 20px;border-radius:10px">
                Проверить
              </button>
            </div>
            <div class="w-100"></div>
            <div class="col pt-3" id="role" style="display:none;">
              <select name="type" id="type" required="required" size="1" style="width: 80%; border-radius: 10px;background-color: rgb(217,217,217);height: 150%;">
                  <option value=""> Роль </option>
                  <option value="PRODUCER">Продюсер</option>
                  <option value="DIRECTOR_PRODUCER">Режиссер-постановщик</option>
                  <option value="HELP_PRODUCER">Помошник режиссера*</option>
                  <option value="MAIN_ACTOR">Главная роль</option>
                  <option value="ACTOR">Актер/актриса**</option>
                  <option value="OPERATOR">Оператор постановщик</option>
                  <option value="HELP_OPERATOR">Кинооператор***</option>
                  <option value="AUTHOR">Автор сценария</option>
                  <option value="ART_OPERATOR">Художник постановщик</option>
                  <option value="WEAR_OPERATOR">Художник по костюмам</option>
                  <option value="GRIM">Художник-гриммер</option>
                  <option value="VISUAL_EFFECTS">Композитор</option>
                  <option value="SOUND">Звукорежиссер</option>
                  <option value="HELP_AUTHOR">Ассистент звукорежиссера****</option>
                  <option value="dis" disabled>* - Второй режиссёр, Режиссер планирования, Помощник режиссёра, Кастинг-директор, Помощник режиссёра по сценарию, Режиссёр монтажа, Плейбэк, Ассистент режиссёра по актёрам </option>
                  <option value="dis" disabled>** - Актеры второго плана, Участников эпизодических ролей, Актеры массовых сцен Дублеры/Каскадеры</option>
                  <option value="dis" disabled>*** - Оператор Стэдикам  1-й Ассистент оператора  «фокус-пуллера», 2-й Ассистент оператора</option>
                  <option value="dis" disabled>**** - Бум, Режиссёр звуковых эффектов, Инженер звукозаписи, Звукомонтажёр, Звукооформитель, Звукорежиссёр перезаписи</option>
              </select>
            </div>
        </div>
    </div>
    <div class="error" id="error" style="color:red;margin: auto;text-align: center; display: none">
            Error: Неверная ссылка на фильм!
    </div>
    <div class="back  p-1" id="send" style="color:black;margin: 0 30%;text-align: center;display: none; ">
            <a href="/public/main/doc/license.pdf">
                <small>Нажимая кнопку Добавить, я принимаю условия </small>
            </a>
            <button onclick="send()"  style="background-color: rgb(3,13,40);color:white;font-size: 20px;padding: 15px 20px;border-radius:10px">
                Добавить
            </button>
    </div>
</div>



<script>

  async function check(){
      const url = document.getElementById('url').value;
      console.log(url)
    if ( url.includes(document.location.hostname)) {
      let divButtonCheck = document.getElementById("check");
      let divSelectRole = document.getElementById("role");
      let divButtonSend = document.getElementById("send");

      divButtonCheck.style.display = "none";
      divSelectRole.style.display = "block";
      divButtonSend.style.display = "block";
    }
    else {
      console.log(document.location.hostname);
      let divError = document.getElementById("error");
      divError.style.display = "block";
    }
  }
  async function send(){

    let formData = new FormData();
    // получаем введеное в поле имя и возраст
    let url = document.getElementById("url").value;
    const type = document.getElementById("type").value;

    url = url.slice(-36);

    data =  JSON.stringify({
        url: url,
        type: type
    })
    formData.append('info', data);

    const response = await fetch('/author/addRole', {
        method: 'POST',
        body: formData,
    });
    if (response.ok) {
        document.location.href = document.location.href.replace(document.location.pathname,'/main/')
    }
  }
</script>
{% endblock %}

