{% extends "templateBaseMini.html" %}
{% block link %}     <link rel="stylesheet" href="{{ url_for('static', path='/css/styleSlider.css') }}">{% endblock %}
<!--- Количество уведомлений --->
{% block countNot %} {% if dictStatus['notification'] %}  {{ dictStatus['notification']|length }} {% else %} 0 {% endif %} {% endblock %}

<!--- Если автор показать блок уведомлений --->
{% block user_block %}
    {% if dictStatus['is_log'] %}
         {{ super() }}
    {% endif %}
{% endblock %}


{% block author_block %}
    {% if dictStatus['is_author'] %}
         {{ super() }}
    {% endif %}
{% endblock %}


<!--- Кнопка войти/выйти --->
{% block enterButton %}
{% if dictStatus['is_log'] %}
<a class="p-2 text-white text-left" href="/user/exit">ВЫЙТИ</a>
{% else %}
<a class="p-2 text-white text-left" href="/user/login">ВОЙТИ</a>
{% endif %}
{% endblock %}

{% block notifi %}
{% if dictStatus['notification'] %}
    {% for noti in dictStatus['notification'] %}
                <div class=" pb-2" style="position: relative;">
                    <div class="notification-text">
                        {{ noti[0].description }}
                    </div>
                    <div class="notification-time" style="position: absolute; bottom: 4px; right: 0">
                        <small class="text-muted">{{ noti[0].date }}</small>
                    </div>
                </div>
                <div class="hr"></div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<!-- Start data -->

<div class="container bg-white text-dark needrounded" style="border-radius: 5% !important; height: 80%; min-height: 200px;max-height: 750px; width: 90%;">
    <h1 class="text-center pt-4 p-3 size-23 comedy gradient-text">Личный кабинет</h1>
    <div class="row  pr-3 pl-3 pb-3  " style="min-height: 100px;max-height: 650px; overflow: auto;">
        <div class="col position-relative p-2">
            <a href="/additional/p/notification/">
                <div class="" style="height: 25px;">
                    <h5>Уведомления</h5>
                </div>
            </a>
        </div>
        <div class="w-100"></div>
        <hr style="height: 2px;color: black; width: 100%;display: block;">
        <div class="col position-relative p-2">
            <a href="/additional/p/history">
                <div class="" style="height: 25px; ">
                    <h5>История просмотров</h5>
                </div>
            </a>
        </div>
        <div class="w-100"></div>
        <hr style="height: 2px;color: black; width: 100%;display: block;">
        <div class="col position-relative p-2">
            <a href="/user/p/change">
                <div class="" style="height: 25px; ">
                    <h5>Изменить профиль</h5>
                </div>
            </a>
        </div>
        <div class="w-100"></div>
        <hr style="height: 2px;color: black; width: 100%;display: block;">
        <div class="col position-relative p-2">
            <a href="/film/p/add">
                <div class="" style="height: 25px; ">
                    <h5>Добавить фильм</h5>
                </div>
            </a>
        </div>
        <div class="w-100"></div>
        <hr style="height: 2px;color: black; width: 100%;display: block;">
        <div class="col position-relative p-2">
            <a href="/additional/p/callback">
                <div class="" style="height: 25px; ">
                    <h5>Техническая поддержка</h5>
                </div>
            </a>
        </div>
        <div class="w-100"></div>
        <hr style="height: 2px;color: black; width: 100%;display: block;">
    </div>
</div>
{% endblock %}